* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: darkslategray;
    position: relative;
    min-height: 100vh;
}

.header {
    color: white;
    background-color: rgb(64, 36, 31);
    padding: 70px 20px;
    text-align: center;
    overflow: hidden;
    cursor: default;
}

.header h1 {
    font-size: 36pt;
    font-weight: lighter;
    letter-spacing: 5pt;
}

nav {
    background-color: #222;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-container {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 40% 30% 0%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 30px;
}

.logo a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.nav-ul {
    display: flex;
    justify-content: center;
}

.nav-ul li {
    list-style: none;
    padding: 15px 30px;
    transition: 0.2s;
}

.nav-ul li:hover {
    background-color: #555;
}

.nav-ul li:active {
    background-color: #111;
}

.nav-ul a {
    color: #fff;
    text-decoration: none;
}

.searchbox {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 30px;
}

.searchbox input {
    border: 0;
    border-radius: 5px;
    padding: 3px 10px;
    margin: 0 10px;
}

.searchbox a {
    color: #fff;
    text-decoration: none;
    font-size: small;
}

.nav-btn {
    display: none;
}

.prod-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 25px;
    padding: 50px;
    padding-bottom: 100px;
    max-width: 1440px;
    margin: 0 auto;
}

.prod-list {
    text-align: center;
    background-color: #ccccccbb;
    padding: 15px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}

.prod-list:hover {
    background-color: #ccc;
    scale: 1.05;
}

.prod-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
}

.prod-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prod-detail {
    line-height: 40px;
    padding: 10px 0;
}

.prod-title {
    font-size: 12pt;
    font-weight: bold;
    line-height: 14pt;
    padding: 10px 0;
    height: 50px;
}

.prod-price {
    font-size: 16pt;
    font-weight: bold;
}

.prod-btns {
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
}

.btn {
    border: 0;
    border-radius: 10px;
    margin: 0px;
    width: 70px;
    height: 35px;
}

.primary {
    font-weight: bold;
    color: #fff;
    background-color: rgb(83, 140, 140);
    transition: 0.2s;
}

.primary:hover {
    background-color: rgb(40, 64, 64);
    cursor: pointer;
}

.primary:active {
    background-color: #222;
}

.secondary {
    background-color: #fff;
    transition: 0.2s;
}

.secondary:hover {
    background-color: rgb(101, 101, 101);
    color: #fff;
    cursor: pointer;
}

.secondary:active {
    background-color: #222;
    color: #fff;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    background-color: #222;
    padding: 20px;
    text-align: center;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.show {
    display: block;
}

@media screen and (max-width: 1280px) {
    .prod-container {
        grid-template-columns: auto auto auto auto;
    }
}

@media screen and (max-width: 1024px) {
    .nav-container {
        grid-template-columns: auto auto auto;
    }
    .nav-ul li {
        padding: 15px 15px;
    }
    .prod-container {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width: 768px) {
    .header h1 {
        font-size: 24pt;
    }
    .nav-container {
        grid-template-columns: auto auto;
        padding: 15px 0;
    }
    .nav-ul li {
        padding: 15px 30px;
    }
    .nav-ul {
        grid-row: 2;
        flex-direction: column;
        padding: 15px 10px;
        display: none;
    }
    .searchbox {
        grid-row: 3;
        display: none;
        padding-left: 30px;
    }
    .nav-ul.show {
        display: block;
    }
    .searchbox.show {
        display: block;
    }
    .nav-btn {
        display: block;
        margin: 0 30px;
    }
    .nav-btn button {
        border: 0;
        border-radius: 5px;
        padding: 5px 10px;
    }
    .nav-btn button:hover {
        background-color: #ddd;
        cursor: pointer;
    }
    .prod-container {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 600px) {
    .header {
        padding: 40px 20px;
    }
    .prod-container {
        grid-template-columns: auto;
        padding: 30px;
    }
    .searchbox input {
        margin: 10px 0;
    }
    .searchbox a {
        padding: 10px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        padding: 30px 20px;
    }
    .header h1 {
        font-size: 12pt;
    }
    .searchbox {
        display: flex;
        flex-direction: column;
        display: none;
    }
    .searchbox input {
        width: 100%;
        margin: 10px 0;
    }
    .searchbox a {
        padding: 10px;
    }
    .prod-container {
        grid-template-columns: auto;
        padding: 10px;
    }
}