.custom-top__div {
    padding-top: 60px !important;
}

.custom-nav {
    background-color: #00000088;
    margin-bottom: -60px;
}

.custom-search {
    background-color: #ffffff11;
}

.backdrop-blur {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.custom-dropdown {
    background-color: #000000;
}

.custom-container-fluid {
    max-width: 1920px;
    margin: 0 auto;
    mask-image: linear-gradient(
        to right, 
        transparent 0%, 
        black 10%, 
        black 90%, 
        transparent 100%
    );
    -webkit-mask-image: linear-gradient(
        to right, 
        transparent 0%, 
        black 10%, 
        black 90%, 
        transparent 100%
    );
}

.carousel-img-div {
    height: 512px;
}

.index-banner-img__div {
    height: 500px;
}

.custom-border-radius {
    border-radius: 20px;
}

.courses-banner__div {
    background-position: center; 
    background-size: cover; 
    padding-top: 100px !important;
}

.courses-banner__div-title {
    backdrop-filter: brightness(0.3); 
    -webkit-backdrop-filter: brightness(0.3);
    border-start-start-radius: 20px;
    border-end-start-radius: 20px;
    padding-right: 300px !important;
}

.courses-card-img__div {
    height: 256px;
}

.lesson-sidebar__div {
    width: 460px;
    height: 100vh;
    padding-bottom: 60px;
}

.lesson-sidebar__subdiv {
    position: fixed;
    bottom: 0;
    overflow-y: scroll;
    height: 100vh; 
    padding-top: 60px;
}

.list-group-item.active {
    background-color: #3e4144;
    border-color: #3e4144;
}

.nav-link.active {
    background-color: #3e4144 !important;
    border-color: #3e4144 !important;
}

/* respinsive for full-hd and below */
@media (max-width: 1920px) {
    .custom-container-fluid {
        mask-image: linear-gradient(to right, black 0%, black 100%);
        -webkit-mask-image: linear-gradient(to right, black 0%, black 100%);
    }
    .index-banner-img__div {
        height: 400px;
    }
    .courses-banner__div-title {
        padding-right: 30px !important;
    }
}

/* respinsive for lg and below */
@media (max-width: 992px) {
    .lesson-sidebar__div {
        width: 100%;
        height: 100%;
    }
    .lesson-sidebar__subdiv {
        position: static;
        bottom: 0;
        overflow-y: scroll;
        height: 100%; 
        padding-top: 0px;
    }
}

/* respinsive for md and below */
@media (max-width: 768px) {
    .courses-banner__div {
        padding-top: 0px !important;
    }
    .courses-banner__div-title {
        padding-top: 120px !important;
        border-start-start-radius: 0px;
        border-end-start-radius: 0px;
    }
}

/* respinsive for sm and below */
@media (max-width: 576px) {
    .carousel-img-div {
        height: 400px;
    }
    .carousel-img-div img {
        filter: brightness(0.5);
    }
    .custom-dropdown {
        background-color: #00000066;
    }
    .index-banner-img__div {
        height: 530px;
        filter: brightness(0.5);
        margin-top: -60px;
    }
    .custom-border-radius {
        border-radius: 0px !important;
    }
}