.custom-top__div {
    padding-top: 60px !important;
}

.custom-nav {
    background-color: #00000088;
    margin-bottom: -60px;
}

.custom-search {
    background-color: #ffffff11;
}

.backdrop-blur {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.custom-dropdown {
    background-color: #000000;
}

.carousel-img-div {
    height: 512px;
}

.index-banner-img__div {
    height: 400px;
}

.index-essay__img {
    border-radius: 20px;
}

.courses-banner__div {
    background-position: center; 
    background-size: cover; 
    padding-top: 100px !important;
}

.courses-banner__div-title {
    backdrop-filter: brightness(0.3); 
    -webkit-backdrop-filter: brightness(0.3);
    border-start-start-radius: 20px;
    border-end-start-radius: 20px;
}

.courses-card-img__div {
    height: 256px;
}

.lesson-sidebar__div {
    min-height: 100vh;
    width: 460px;
}

.list-group-item.active {
    background-color: #3e4144;
    border-color: #3e4144;
}

.nav-link.active {
    background-color: #3e4144 !important;
    border-color: #3e4144 !important;
}

/* respinsive for lg and below */
@media (max-width: 992px) {
    .lesson-sidebar__div {
        width: 100%;
    }
}

/* respinsive for md and below */
@media (max-width: 768px) {
    .courses-banner__div {
        padding-top: 0px !important;
    }
    .courses-banner__div-title {
        padding-top: 120px !important;
        border-start-start-radius: 0px;
        border-end-start-radius: 0px;
    }
}

/* respinsive for sm and below */
@media (max-width: 576px) {
    .carousel-img-div {
        height: 400px;
    }
    .carousel-img-div img {
        filter: brightness(0.5);
    }
    .custom-dropdown {
        background-color: #00000066;
    }
    .index-banner-img__div {
        height: 500px;
        filter: brightness(0.5);
        margin-top: -60px;
    }
    .index-essay__img {
        border-radius: 0px;
    }
}