.banner {
    height: 512px;
    background-position: center;
    background-size: cover;
}

.carousel-img-div {
    height: 512px;
}

/* respinsive for sm */
@media (max-width: 576px) {
    .carousel-img-div {
        height: 400px;
    }
}